.card {
  perspective: 150rem; // переворот карточки, это свойство пишется в parent
  position: relative;
  height: 52rem; // из-за позиционирования блок теряет свои размеры

  &__side {
    transition: all .8s ease;
    height: 52rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; // из-за свойства absolute блок теряет свою ширину
    backface-visibility: hidden; // скрываем обратную (отзеркаленную) сторону карточки
    border-radius: $small-border-radius;
    overflow: hidden; // чтобы был виден бордер-радиус
    box-shadow: $default-box-shadow;
    font-size: 4rem;
    text-align: center;

    &--front {

    }

    &--back {
      transform: rotateY(180deg); // изначально развёрнут

      &-1 {
        background-image: linear-gradient(to right bottom, $color-orange-light, $color-orange-dark);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, $color-blue-light, $color-blue-dark);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg); // разворачиваем блок front и видим back
  }

  &:hover &__side--back {
    transform: rotateY(0); // показывается блок back
  }

  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen; // описывает как один фон ложится на другой
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;

    &--1 {
      background-image: linear-gradient(to right bottom, $color-orange-light, $color-orange-dark),
      url("../img/nat-5.jpg");
    }

    &--2 {
      background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
      url("../img/nat-6.jpg");
    }

    &--3 {
      background-image: linear-gradient(to right bottom, $color-blue-light, $color-blue-dark),
      url("../img/nat-7.jpg");
    }

  }

  &__heading {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 300;
    color: $color-white;
    text-align: right;
    width: 75%;
    position: absolute;
    top: 12rem;
    right: 2rem;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone; // for chrome
    box-decoration-break: clone; // сделать падинги слева и справа

    &--1 {
      background-image: linear-gradient(to right bottom,
              rgba($color-orange-light, .85),
              rgba($color-orange-dark, .85));
    }

    &--2 {
      background-image: linear-gradient(to right bottom,
              rgba($color-primary, .85),
              rgba($color-primary-dark, .85));
    }

    &--3 {
      background-image: linear-gradient(to right bottom,
              rgba($color-blue-light, .85),
              rgba($color-blue-dark, .85));
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px $color-grey-transparent solid;
        }
      }
    }
  }

  &__content-back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  &__price-box {
    text-align: center;
    color: $color-white;
    margin-bottom: 8rem;
  }

  &__price-text {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 300;
  }
}