.story {
  width: 75%; // 75 от блока row который 114rem
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: rgba($color-grey-light-1, .55);
  border-radius: $small-border-radius;
  padding: 6rem 6rem 6rem 9rem; // компенсируем (9rem) transform: translateX(-3rem);
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
  }

  @include respond(phone) {
    transform: skewX(0);
  }

  // делаем круг
  &__shape {
    width: 15rem;
    height: 15rem;
    float: left; // располагаем слева в блоке story
    shape-outside: circle(50% at 50% 50%); // подгоняем текст под круг
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); // skewX - чтобы не было скоса
    position: relative;

    @include respond(phone) {
      transform: translateX(-1rem) skewX(0);
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all .5s;
  }

  &__text {
    transform: skewX(12deg); // skewX - чтобы не было скоса

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%); // надпись вылезает снизу вверх
    font-size: 1.7rem;
    text-align: center;
    color: $color-white;
    text-transform: uppercase;
    opacity: 0;
    transition: all .5s;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img { // когда наводим на __img меняем ему свойства
    opacity: 1;
    transform: translateX(-4rem) scale(1);
    filter: blur(.3rem) brightness(70%);
  }
}