.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh; // наезжаем на предыдущий блок чтобы не было пустого места (треугольник)

  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom,
          rgba($color-primary, 0.8),
          rgba($color-primary-dark, 0.8)),
  url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg); // делаем блок косым
  margin-top: -5rem;

  //применить это значение к дочерним элементам блока .section-features, т.е к блоку row
  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 15rem 0;
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 10rem 0;
  margin-top: -18vh;

  @include respond(tab-port) {
    padding: 25rem 0 10rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
  padding: 15rem 0;

  @include respond(tab-land) {
    padding: 10rem 2rem;
  }
}

.book {
  background-image: linear-gradient(100deg, // наклон посередине блока
          rgba($color-white, .9) 50%, // правая часть белая до середины блока ( 50% )
          transparent 50%),
  url("../img/nat-10.jpg");
  background-size: 100%;
  border-radius: $small-border-radius;
  box-shadow: $default-box-shadow;

  @include respond(tab-land) {
    background-image: url("../img/nat-10.jpg");
    background-size: cover;
  }

  &__form {
    padding: 5rem;
    width: 50%;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }
}